* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.principal {
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .letra {

    
    padding: 2rem 1rem;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
      
  }

    
    

   